

*{
    margin:0;
    padding: 0;
    outline: 0; 
} 
h1{
    text-align: center;
    background-color: #a7edef;
    width:100%;
    height: 10vh;
    font-family: sans-serif;
    padding:15px;
    border: 4px solid rgb(204, 144, 13);   
    }

table{
    margin-right: auto;
    margin-left: auto;
    width: 50%; 
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid black;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: black;
}
table:hover{
   
    color:rgb(226, 12, 12);
    background-color:black;
}
    td , th{
        padding: 10px 15px;
        text-align: center;
          }
       th{
        background-color: #ba68c8;
        color: #fafafa;
        font-family: 'Open Sans',Sans-serif;
        font-weight: 200;
        text-transform: uppercase;
       
       }
       tr{
        width: 100%;
        background-color: #fafafa;
        font-family: 'Montserrat', sans-serif;
       }
       tr:nth-child(even){
        background-color: #eeeeee;
       }
       div{
       color:black;
       align-self: flex-end;
       }
       .inner-footer{
        margin: 0;
        padding: 0;
        background-color: #272727;
       }

       .social-items{
        list-style: none;
       }
       .social-items a{
        padding: 5px 10px;
        font-size: 35px;
        color: #6cccc6;
        transition: all .25s;
       
       }
       .social-items a:hover{
        color: #5bd3ad;
       }
       .quick-links{
        display: flex;
        width: 560px;
        height: 70px;
        margin: auto;
       }
       .quick-links ul{
        display: flex;
       }
       .quick-items{
        list-style: none;
       }
       .quick-items a{
        text-decoration: none;
        padding: 0px 15px;
        font-size:18px ;  
        color: rgb(16, 10, 10);
        transition: all .25s;

       }
       .quick-items a:hover{
        color:#6cccc6
       }
       .outer-footer{
        pad: 10px;
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 18px;
        background-color: #3f3f3f;

       }

    